<div class="container">
    <h3>Cart Info</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Option</th>
                <th>Product Name</th>
                <th>Price</th>
                <th>Image</th>
                <th>Quantity</th>
                <th>Sub Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of items">
                <td>
                    <button (click)="remove(item.product._id)" type="button" class="btn btn-outline-danger">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z">
                            </path>
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z">
                            </path>
                        </svg>
                    </button>
                </td>
                <td>{{item.product.pname}}</td>
                <td>{{item.product.price}}</td>
                <td><img width="250" height="100" class="img-fluid img-thumbnail" src="{{item.product.imageURL}}"></td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price * item.quantity}}</td>
            </tr>
            <tr>
                <td>Total:</td>
                <td>
                    {{total}}
                </td>
            </tr>
        </tbody>
    </table>
    <br/>
    <div class="row">
        <div class="col-3"></div>
        <button class="btn btn-outline-success col-6" (click)=checkout()>Check-Out</button><br/>
        <div class="col-3"></div>
    </div>
    <br/>
</div>