<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-6 offset-lg-3">
            <br/>
            <h2>Add a Product</h2>
            <form #f="ngForm" (ngSubmit)="addProduct(f.value)">
                <div class="form-group">
                    <label for="productName">Product Name</label><br />
                    <input type="text" name="productName" id="productName" ngModel />
                </div>
                <div class="form-group">
                    <label for="imageURL">Image URL</label><br />
                    <input type="text" name="imageURL" id="imageURL" ngModel />
                </div>
                <div class="form-group">
                    <label for="price">Price</label><br />
                    <input type="text" name="price" id="price" ngModel />
                </div>
                <div class="form-group">
                    <label for="company">Company</label>
                    <select class="form-control" id="company" name="company" ngModel>
                        <option *ngFor="let company of companies" [value]="company._id">
                            {{company.name}}
                        </option>
                    </select> <br />
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-success" type="submit" value="Add Product"><br />
                </div>
                
            </form>
        </div>
    </div>

</div>